.vscode/
.idea/
.neptune/
.pytest_cache/
.mypy_cache/
venv/
__pycache__/
**.egg-info/

__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
build/
develop-eggs/
data/
!data/computer-keyboard-typing.mp3
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

docs/_build/
public/
docs/licenses_table.rst

licenses.txt

*.onnx
*.pyc
*.pt
*.pth
*.pkl
*.mar
*.torchscript
**/.ipynb_checkpoints
**/dist/
**/checkpoints/
**/outputs/

.python-version
pyvenv.cfg
pip-selfcheck.json


htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

.env
.gcp.env

coverage.xml
report.xml

cmake-build-*/
calls.db
carriage.db

.terraform
.terraform.tfstate.lock.info
.terraformrc
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc

tf/terraform.tvars

*.DS_STORE

src/carriage_services/question_classification/model/
.env.prod

/node_modules
