twilio_account_sid        = ""
twilio_auth_token         = ""
twilio_phone_numbers      = ""
twilio_tts_voice          = ""
intent_classification_model=""
voicemail_detection_model = ""
resource_group_name       = ""
resource_group_location   = ""
openai_api_key            = ""
subscription_id           = ""
admin_api_key             = ""
user_api_key              = ""
app_name                  = ""
